body {
	color: $dark-grey;
	font-family: $base-font;
	font-size: $body--font-size;
	font-weight: $font-weight--regular;
	line-height: $line-height--normal;
}

p,
ul,
ol,
dl {
	font-size: $body--font-size;
	line-height: $line-height--normal;
}

/* Regular content width.
/* 702px + 27px to match paragraph width on front-end and editor.
---------------------------------------------------------------------------- */
.wp-block {
	max-width: 732px;
}

/* Width of "wide" blocks
/* 1062px + 30px so wide images match width in front-end and editor.
/* 1062px = default column width of 702px + .alignwide negative margin of 360px
---------------------------------------------------------------------------- */
.wp-block[data-align="wide"] {
	max-width: 1092px;
}

.wp-block[data-align="full"] {
	max-width: none;
}

/* Typography
---------------------------------------------------------------------------- */

a {
	color: $blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	font-family: $headings--font-family;
	font-weight: $font-weight--regular;
	line-height: $line-height--small;
}

h1 {
	font-size: $h1--font-size;
}

h2 {
	font-size: $h2--font-size;
}

h3 {
	font-size: $h3--font-size;
	font-weight: $font-weight--semibold;
}

h4 {
	font-size: $h4--font-size;
	font-weight: $font-weight--semibold;
	margin-top: 40px;
}

h5 {
	font-size: $h5--font-size;
}

h6 {
	font-size: $h6--font-size;
}

.editor-post-title__block .editor-post-title__input {
	font-family: $base-font;
	font-size: $h1--font-size;
	font-weight: $font-weight--regular;
	line-height: $line-height--small;
	margin: 0 0 20px;
}

/* Galleries
---------------------------------------------------------------------------- */

.wp-block-gallery .blocks-gallery-item {
	margin-bottom: 16px;
}

/* Category Block
---------------------------------------------------------------------------- */

.wp-block[data-align="right"] .wp-block-categories__list {
	text-align: right;
}

.wp-block[data-align="full"] .wp-block-categories__list {
	padding: 0 30px;
}

/* Latest Posts Block
---------------------------------------------------------------------------- */

.wp-block[data-align="center"] .wp-block-latest-posts {
	text-align: center;
}

.wp-block[data-align="full"] .wp-block-latest-posts {
	padding: 0 30px;
}

/* Columns block
---------------------------------------------------------------------------- */

.wp-block[data-align="full"] .wp-block-columns > .editor-inner-blocks {
	padding: 0 30px;
}

/* Tables
---------------------------------------------------------------------------- */

.wp-block-table {
	font-size: $body--font-size;
	line-height: $line-height--larger;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table tr {
	border: none;
}

.wp-block-table tr {
	border-top: 1px solid #eee;
}

.wp-block-table tbody {
	border-bottom: 1px solid #eee;
}

/* Lists
---------------------------------------------------------------------------- */

.editor-block-list__block li {
	line-height: $line-height--normal;
	margin-bottom: 0;
}